.main{
  /* margin-top: 90px; */
}
.bgcontainer {
    position: relative;
    width: 100%;
    height: 80vh; 
    overflow: hidden;
    
  }
  
  .bgcontainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 400px;
   height: 200px;
    height: auto;
    z-index: -1;
  }
  .main-service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: -50px;
  }
  .main-images{
      margin: 30px;

  }
  .event{
    width: 780px;
    height: 380px;
  }
  .dj{
    margin-right: 20px;    
    margin-top:20px;
    width: 380px;
    height:380px ;
                                                                                                                                                                                                                                                   
  }
  .images{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }
  .serice-text{
  width: 600px;
  }

  .know-button{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);    top: 0;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
  }
  .services{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .up-images{
    display: flex;
    flex-direction: row;
    /* width: 80%; */
  }
  .down-images{
    display: flex;
    flex-direction: row;
    /* width: 80%; */
  }
  .service-image{
    width: 400px;
    /* border: 1px solid black; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  img{
    width: 400px;
    height: 300px;
  }
  @media (max-width: 768px) {
    .main-service {
        flex-direction: column;
        margin-left: 0;
    }

    .images {
        flex-direction: column;
    }

    .dj {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
  .main-service{
    margin-top: -150px;
    margin-right: 30px;
  }
   .main-images{
    display: none;
   }
   .serice-text{
    width: 280px;
   }
   .services-images{
    flex-direction: column;
   }
   .up-images{
    flex-direction: column;
   }
   .down-images{
    flex-direction: column;
   }
   .service-image{
    width: 250px;
    margin-left: -10px;
   }
   .service-img{
    width: 250px;
   }

}
  