.active {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 90px;
  font-size: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
  top: 0;
}

nav .title {
  font-size: 20px;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  margin: 30px;
}
nav ul.open {
  display: flex;
  position: absolute;
  background-color: whitesmoke;
  top: 90px; /* Adjust according to the height of your navbar */
  left: 0;
  right: 0;
  z-index: 999; /* Higher than other content but less than navbar */
}

nav ul li {
  padding: 10px;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  height: max-content;
  padding: 10px;
  margin: 0 0.5rem;
  border-radius: 10px;
}

nav ul li a:not(.active):hover {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: rgb(40, 12, 12);
}
.navbar-ul .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f4ebeb;
  list-style: none;
  padding: 0;
  margin-left:1300px;
  margin-top: -3px;
  display: none;
  z-index: 1000;
}

.navbar-ul li:hover .dropdown {
  display: block;
}

.dropdown li a {
  padding: 10px 20px;
  display: block;
  background-color: #f4ebeb;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.image {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 80px;
  border-radius: 20px;
}

@media (max-width: 480px) {
  nav .menu {
    display: block;
    margin-right: 90px;
    margin-top: 30px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  nav ul .dropdown{
    width: 100px;
  }

  nav ul.open {
    display: flex;
    margin-left: -50px;
    /* margin-top: 0x; */
  }
  .image{
     margin-left: -90px;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

/* Add margin-top to the main content to prevent it from being hidden under the navbar */
.main-content {
  margin-top: 90px; /* Adjust this value to the height of your navbar */
}
